<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="documentation for framework for internal navigation and discovery Lucius Fox additions">
  <meta name="keywords" content="lucius fox, FIND, internal navigation, internal positioning, local positioning">
  <meta name="author" content="Zack">

  <title>
    find-lf documentation
  </title>

  <link rel="stylesheet" href="/static/github1.css">
  <link rel="stylesheet" href="/static/github2.css">
</head>
<body>

{{ .body }}

</body>
</html>
